.jumbotron{
    background: yellow;
    margin-top: 30px;
}
footer{
    background: yellow;
    padding: 10px 10px 10px; 
       
}

h2{
    text-align: center;
}
.card-img-bottom{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: 600px;
    
}   
.breadcrumb{
    background-color:black ;
}
.card-text{
    padding-top: 10px;
}
.oi-home{
    padding-right: 10px;
}
.oi-phone{
    padding-right: 10px;
}
.oi-envelope-closed{
    padding-right: 10px;
}
.card-header{
   height: 50px;
   background: rgb(104, 216, 104);
}
.btn-primary{
    padding:15px;
    
}

.col-sm-4{
    padding: 10px;
    margin: 10px 
    
}
body{
    background: rgb(233, 232, 232);
}
.d-block {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    height: 400px;
}    
.oi-credit-card{
    padding-left: 20px;
    margin-right: 20px;
}